@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button type="button" class="btn btn-outline-secondary"><a asp-controller="Finnhub" asp-action="SelectStock">Stock</a></button>
    <button type="button" class="btn btn-outline-secondary"><a asp-controller="Finnhub" asp-action="SelectCrypto">Crypto</a></button>
</div>
